<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Did you like this project? Do you want another one just for you? Get in touch with us!</p>
            </div>
            <div class="col-lg-4 offset-lg-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:your-email@your-domain.com">coolapp@ironhack.com</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="http://localhost:3000/startbootstrap/vendor/jquery/jquery.min.js"></script>
<script src="http://localhost:3000/startbootstrap/vendor/tether/tether.min.js"></script>
<script src="http://localhost:3000/startbootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://localhost:3000/startbootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="http://localhost:3000/startbootstrap/vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="http://localhost:3000/startbootstrap/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="http://localhost:3000/startbootstrap/js/creative.min.js"></script>

</body>

</html>