body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#map {
    height: 500px;
    width: 100%;
}

.navbar-shrink {
    color: black;
    background-color: white;
}

.navbar-collapse {
    color: white;
}

.trip-list li {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    list-style: none;
}

.trip-list a,
input {
    float: left;
    padding: 13px 38px;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
    background: transparent;
}

.trip-list a:hover,
input:hover,
input:focus {
    background: rgba(255, 255, 255, 0.39);
}

input[type="submit"],
button {
    padding: 15px;
    color: #ffffff;
    font-size: 17px;
    border: 1px solid;
    cursor: pointer;
    background: rgba(240, 95, 64, 0.52);
    border-radius: 3px;
    float: none;
}

input[type="submit"]:hover,
button:hover {
    background: #f05f40;
}

form input,
form label {
    float: none;
    margin: 5px;
}

.col-xs-12.text-center:nth-child(3) {
    margin-top: 65px;
    color: white;
}