body {
    
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    
}

a {
    color: #00B7FF;
}

#map {
  height: 500px;
  width: 100%;
}


.navbar-shrink{
    color: black;
    background-color: white;
}

.navbar-collapse{
    color: white;
}