<!DOCTYPE html>
<html>
  <head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    
    <nav>
      <a href="/">Index</a> |    
      <a href="/dashboard">Dashboard</a> |
      <a href="/activity">Activity</a> |            
      <a href="/login">Login In</a> |
      <a href="/logout">Log Out</a>
    </nav>

    <div class="row">
      <div class="col-md-4">
        <form action="/activity" method="post">
        
          <div class="col-md-12">
            <label for="date">Date</label>            
            <input type="date" id="date"></p>           
          </div>

          <div class="col-md-4">
            <label for="category">Category</label><br>
            <input type="radio" name="category" value="food"> Food <br>
            <input type="radio" name="category" value="accomodation"> Accomodation<br>
            <input type="radio" name="category" value="transport"> Transport <br>
            <input type="radio" name="category" value="activities"> Activities <br>
            <input type="radio" name="category" value="other"> Other <br>
          </div>
          
          <div class="col-md-8">
            <label for="price">Price</label>
            <input type="number" id="price"><br>
            <label for="notes">Notes</label>
            <textarea rows="4" cols="20" id="notes" name="notes"></textarea><br><br>
          </div>
          
          
        </form>

        <input id="address" type="" name="address" placeholder="address">        
        <input id="submit" type="submit" name="" value="Geocode">

      </div>

      <div class="col-md-8">      
        <div id="map"></div>
      </div>

      <div class="col-md-12">
      
        <% activities.forEach(function(activity) { %>
            <li><%= activity.category %> </li>
        <% }); %>
        
      </div>

      <div id="newRecord">
      <%= data %>

      
      </div>

    </div>
    
    
    
    

    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW0Xx6VL6pf9pvNc3Qs12m3nnl5soGQAI&libraries=places"async defer></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/map.js"></script> 
    <script>

  </script>  

  </body>
</html>
