<div class="space">
</div>
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">


            <h2>Add trip</h2>


            <form action="/addtrip" method="post" id="addtrip">
                <div>
                    <label for="tripname"> Name </label>
                    <input type="text" name="tripname" id="name-input" placeholder="tripname">
                </div>

                <div>
                    <label for="num_days"> Days </label>
                    <input type="Number" name="num_days" id="num_days-input" placeholder="57643">
                </div>

                <div>
                    <label for="users"> Share </label>
                    <input type="text" name="users" id="name-input" placeholder="users">
                </div>

                <button> Submit </button>

            </form>
        </div>

    </div>

</header>