
<div class="dashboard">
    <h1>Hi there,
        <%= user.username %>
    </h1>
    <h1>My trips:</h1>
    <ul>

        <% for (var i=0; i<usertrips[0].trips.length; i++) {%>
            <li>
                <a href="/trip/<%= usertrips[0].trips[i]._id %>/activities">
                    <%= usertrips[0].trips[i].tripname %>
                </a>
            </li>
        <%}%>
        
    </ul>

    <form action="/addtrip">
        <input type="submit" value="Add a new trip" />
    </form>

</div>
