<% if (user) { %>
    <div>
        <h1>Hi there,
            <%= user.username %>
        </h1>
        <h1>Your trips:</h1>
        <ul>
            <% for (var i=0; i<user.trips.length; i++) {%>
                <li>
                    <a href="/trip/<%= user.trips[i] %>">
                        <%= user.trips[i] %>
                    </a>
                </li>
                <%}%>
        </ul>

        <nav>
            <a href="/">Index</a> |
            <a href="/trip">My trips</a>|
            <a href="/addtrip">Add trip</a>|
            <a href="/logout">Log Out</a>
        </nav>
    </div>
    <% } %>
