<div class="space">
</div>
<header class="masthead">
    <div class="header-content">
        <div class="header-content-inner">


            <h2>My Trips</h2>

            <div class="col-xs-12 text-center">
                <ul class="trip-list">
                    <% for (var i=0; i<usertrips[0].trips.length; i++) {
                         var a = usertrips[0].trips.length;
                         var b = a-i-1;%>
                        <li>
                            <a href="/trip/<%= usertrips[0].trips[b]._id %>/activities">
                                <%= usertrips[0].trips[b].tripname %>
                            </a>
                        </li>
                        <%}%>
                </ul>

                <form action="/addtrip">
                    <input type="submit" value="ADD A NEW TRIP" />
                </form>
            </div>

            
        </div>
    </div>
</header>